<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="application-name" content="CoderLogue"/>
  
  
    <meta name="application-name" content="{{site.title}}"/>
    <meta name="msapplication-TileColor" content="#00acff"/>
    {% if site.logo %}
    <meta name="msapplication-square70x70logo" content="{{site.logo}}"/>
    <meta name="msapplication-square150x150logo" content="{{site.logo}}"/>
    <meta name="msapplication-wide310x150logo" content="{{site.logo}}"/>
    <meta name="msapplication-square310x310logo" content="{{site.logo}}"/>
    {% endif %}
    
    <meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed={{site.url}}/atom.xml&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed={{site.url}}/atom.xml&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed={{site.url}}/atom.xml&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed={{site.url}}/atom.xml&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed={{site.url}}/atom.xml&amp;id=5; cycle=1"/>
    

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
<script src="//load.sumome.com/" data-sumo-site-id="a8257444fdd0ddc25c8af20e03d87887c4369fb5ab8e795478ea01a5f40e4953" async="async"></script>
</head>
