<!DOCTYPE html>
<html>

  {% include head.html %}


  <body>
  	<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '422642437931095',
		      xfbml      : true,
		      version    : 'v2.5'
		    });
		  };
		
		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
       </script>
       
       
       
  	{% include google_analytics.html %}
  	
  	{% include normalize_address.html %}
	  	
	<div
	  class="fb-like"
	  data-share="true"
	  data-width="450"
	  data-show-faces="true">
	</div>
	  	
	  <div class="wrapper">
			{% include header.html %}
			<div>
				<script>
					  (function() {
					    var cx = '004707361015143644915:wh1an9zlylq';
					    var gcse = document.createElement('script');
					    gcse.type = 'text/javascript';
					    gcse.async = true;
					    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					        '//cse.google.com/cse.js?cx=' + cx;
					    var s = document.getElementsByTagName('script')[0];
					    s.parentNode.insertBefore(gcse, s);
					  })();
				</script>
				<gcse:search></gcse:search>
			</div>

		  {{ content }}
			<div class="push"></div>
		</div>
		 
		{% include footer.html %}
		


		
  </body>

</html>
