<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	{% include google_analytics.html %}
	  <div class="wrapper">
			{% include header.html %}
			<div>
				<script>
					  (function() {
					    var cx = '004707361015143644915:wh1an9zlylq';
					    var gcse = document.createElement('script');
					    gcse.type = 'text/javascript';
					    gcse.async = true;
					    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					        '//cse.google.com/cse.js?cx=' + cx;
					    var s = document.getElementsByTagName('script')[0];
					    s.parentNode.insertBefore(gcse, s);
					  })();
				</script>
				<gcse:search></gcse:search>
			</div>

		  {{ content }}
			<div class="push"></div>
		</div>
		 
		{% include footer.html %}
		
  </body>

</html>
